.header_custom table thead > tr > th {
background-color: #1e6fe9 !important;
color: #55c4ca !important;
}

.header_custom table thead > tr > th:nth-child(2) {
width: 250px !important;
}

.header_custom table tbody > tr {
background-color: #EEEEEE !important;
}

